<div class="columns is-centered is-mobile">
  <div class="column is-three-quarters-mobile is-two-thirds-tablet
    is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
    <h1 class="title">Sign up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control has-icons-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <%= f.label :name, class: "label" %>
        <div class="control has-icons-left">
          <%= f.text_field :name, autocomplete: "name", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <div class="control has-icons-left">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button is-primary is-fullwidth mb-3" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>