<div class="padding-y-12"></div>
<h1><%= @title %></h1>

<p><%= @message %></p>

<div class="padding-y-12"></div>
<div>
  <a class="jally-button" href="<%= @link %>">️<%= @link_text %></a>
</div>
<div class="padding-y-12"></div>

<%if @invite %>
  <h2>Ermm... what’s Jally?</h2>
  <p>Jally is a new way to have fun and connect with your team by playing rib-tickling social games over video chat.</p>
  <div class="padding-y-12">
    <a class="jally-link" href="https://jally.co">Find Out More</a>
  </div>

  <% content_for :content_image do %>
    <img src="<%= asset_pack_path('media/stylesheets/img/00-illustration-landing.svg') %>" class="content-image"/>
  <% end %>
<% else %>
  <p>
    If you didn’t request this email, no need to worry — you can safely ignore it.
  </p>
<% end %>
<div class="padding-y-12"></div>

