<% content_for :page_title do %> Jally <% end %>
<% content_for :extra_meta_tags do %>
<meta content="Play fun social games over video chat that bring your team closer together, wherever you work from." name="description"/>
<meta content="Jally" property="og:site_name"/>
<meta content="<%= asset_url('apple-touch-icon.png') %>" property="og:image"/>
<meta content="Jally" property="og:title"/>
<meta content="Play fun social games over video chat that bring your team closer together, wherever you work from." property="og:description"/>
<meta content="summary" name="twitter:card"/>
<meta content="@jally_official" name="twitter:site"/>
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:type" content="website" />
<% end %>

<% content_for :body_tags do %>class="is-boxed has-animations"<% end %>
<div class="is-centered">
    <div class="navbar is-fixed-top jally-navbar boxed-container">
      <div class="navbar-brand is-narrow">
        <div class=" navbar-item ml-5">
          <img src="<%= asset_pack_path('media/stylesheets/img/jally-logo-beta.svg') %>" class="jally-logo-img">
        </div>
      </div>
      <div class="navbar-end">
        <a class="navbar-item login-link" href="/login"> Log In</a>
        <div class="navbar-item is-hidden-mobile is-narrow mr-2">
          <%= render partial: 'landing/early_access' %>
        </div>
      </div>
    </div>

  <div class="section-container top-offset-navbar">
    <div class="columns ml-6 mr-6 is-vcentered boxed-container">
      <div class="column has-text-centered">
        <h1 class="landing-header" style="font-size: 50px">
          Where remote teams <span class="highlight-color">socialise.</span>
        </h1>
        <div class="mb-4">
          Play fun games & activities over video chat that bring your team closer together... wherever you work from
        </div>
        <%= render partial: 'landing/early_access' %>
      </div>
      <div class="column">
        <img src="<%= asset_pack_path('media/stylesheets/img/00-illustration-landing.svg') %>">
      </div>
    </div>
  </div>

  <div class="section-container bg-light-grey">
    <div class="has-text-centered mx-6 my-6 boxed-container">
      <div class="title">
        Make team connection effortless and fun
      </div>
      <div class="medium-p">
        Social games are a fun way to connect and get to know each other...
        no more uncomfortable silences, and no more conversations about the weather
      </div>
    </div>
  </div>
  <div class="section-container pt-4 bg-light-grey">
    <div class="columns mx-6 boxed-container">
      <div class="column has-text-centered game-box-column">
        <div class="game-box game-box-1">
          <div class="subtitle">
            One truth one lie
          </div>
          <div>
            Someone tells one truth and one lie, everybody else has to guess which one is the lie.
          </div>
        </div>
      </div>
      <div class="column has-text-centered game-box-column">
        <div class="game-box game-box-2">
          <div class="subtitle">
            Guess Who
          </div>
          <div>
            One person is assigned the name of a famous person or character, everyone else has to figure out who they are.
          </div>
        </div>
      </div>
      <div class="column has-text-centered game-box-column">
        <div class="game-box game-box-3">
          <div class="subtitle">
            Pictionary
          </div>
          <div>
            Someone is given a phrase they need to convey via a drawing. Everyone else has to guess the phrase.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container bg-light-grey pb-6">
    <div class="mx-6 my-2 has-text-centered boxed-container">...and many, many more!</div>
  </div>

  <div class="mx-6 my-6 has-text-centered landing-header-md">How Jally <span class="highlight-color">works</span></div>

  <div class="section-container">
    <div class="columns mx-6 boxed-container">
      <div class="column">
        <img src="<%= asset_pack_path('media/stylesheets/img/01-illustration-landing.svg') %>">
      </div>
      <div class="column">
        <h1 class="title" style="font-size: 50px; color: #61D1DB;">
          01
        </h1>
        <div class="subtitle"><strong>Sign Up</strong></div>
        <div class="mb-4">
          You can get started for free, just sign up with your work email address to create an account
        </div>
        <%= render partial: 'landing/early_access' %>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="columns mx-6 boxed-container">
      <div class="column">
        <h1 class="title" style="font-size: 50px; color: #FFE816;">
          02
        </h1>
        <div class="subtitle"><strong>Invite your team mates</strong></div>
        <div class="mb-4">
          Jally is about having fun and bonding with your team, so to get started add some teammates or join an existing team.
        </div>
      </div>
      <div class="column">
        <img src="<%= asset_pack_path('media/stylesheets/img/02-illustration-landing.svg') %>">
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="columns mx-6 boxed-container">
      <div class="column is-hidden-mobile">
        <img src="<%= asset_pack_path('media/stylesheets/img/03-illustration-landing.svg') %>">
      </div>
      <div class="column">
        <h1 class="title" style="font-size: 50px; color: #6361DB;">
          03
        </h1>
        <div class="subtitle"><strong>Create a Jally session</strong></div>
        <div class="mb-4">
          Creating a Jally session is easy and only takes a couple of clicks.
          Once done, you can share the link with your everyone you want to join.
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="columns mx-6 boxed-container">
      <div class="column">
        <h1 class="title" style="font-size: 50px; color: #DB61CF;">
          04
        </h1>
        <div class="subtitle"><strong>Play!</strong></div>
        <div class="mb-4">
          Once you’ve joined the Jally session, you and your teammates can play games, answer icebreaker questions and more!
        </div>
      </div>
      <div class="column">
        <img src="<%= asset_pack_path('media/stylesheets/img/04-illustration-landing.svg') %>" />
      </div>
    </div>
  </div>

  <div class="section-container py-4 bg-light-grey">
    <div class="has-text-centered mx-6 my-6 boxed-container">
      <div class="title">
        Team bonding made simple
      </div>
      <div>
        Jally gives your team a powerful, fun and engaging social ritual, without the admin and awkwardness
      </div>
      <div>
        <img src="<%= asset_pack_path('media/stylesheets/img/05-illustration-landing.svg') %>" />
      </div>
      <%= render partial: 'landing/early_access' %>
    </div>
  </div>

  <div class="has-text-centered mx-6 my-6">
    <div class="landing-header-md">
      Designed for <span class="highlight-color">teams</span>
    </div>
  </div>
  <div class="section-container">
    <div class="columns mx-6 is-vcentered boxed-container">
      <div class="column">
        <div class="subtitle"><strong>Integrated with your existing tools</strong></div>
        <div class="mb-4">
          Create, invite and join Jally sessions right from Slack or Microsoft teams and
          receive meeting invites straight to your calendar, so you never miss out
        </div>
      </div>
      <div class="column is-hidden-mobile">
        <img src="<%= asset_pack_path('media/stylesheets/img/06-illustration-landing.svg') %>" />
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="columns mx-6 is-vcentered boxed-container">
      <div class="column is-hidden-mobile">
        <img src="<%= asset_pack_path('media/stylesheets/img/07-illustration-landing.svg') %>" class="illustration-07">
      </div>
      <div class="column">
        <div class="subtitle"><strong>Best in class security</strong></div>
        <div class="mb-4">
          All video & audio from your Jally sessions is end-to-end encrypted,
          so no one will be able to access it ever, not even us
        </div>
      </div>
    </div>
  </div>

  <div class="section-container py-4 bg-light-grey">
    <div class="has-text-centered mx-6 my-6 boxed-container">
      <div class="title">
        Make your team feel like a tight knit tribe
      </div>
      <div>
        Employees with strong social ties collaborate better, are more productive and are ulimtately much happier
      </div>
      <div>
        <img src="<%= asset_pack_path('media/stylesheets/img/08-illustration-landing.svg') %>" />
      </div>
      <%= render partial: 'landing/early_access' %>
    </div>
  </div>

  <div class="has-text-centered mx-6 my-6 landing-header-md">
    FAQ<span class="highlight-color">s</span>
  </div>

  <div class="mx-6 has-text-centered">
    <div class="medium-p">
      <div class="subtitle has-text-justified is-4">What kind of games & activities are on Jally?</div>
      <div class="has-text-justified">
        We’ve got games like Pictionary, Charades and Guess Who,
        icebreakers like Would You Rather and Desert Island and we’ll be adding even more activities soon
      </div>
    </div>
  </div>


  <div class="mx-6 has-text-centered">
    <div class="medium-p">
      <div class="subtitle has-text-justified is-4">What’s the best way of using Jally as a team?</div>
      <div class="mb-4 has-text-justified">
        Each team is different, so it’s worth playing around and seeing what works best for you.
        Here are some ideas to get you started though - transition to Jally for the final 15 minutes
        of your weekly meeting, schedule a Jally session every Friday afternoon,
        log in whenever you feel like socialising and either join an active session or create a new one,
        hold a Jally happy hour to celebrate the end of the month.
      </div>
    </div>
  </div>

  <div class="mx-6 has-text-centered">
    <div class="medium-p">
      <div class="subtitle has-text-justified is-4">How many people can play at one time?</div>
      <div class="mb-4 has-text-justified">
        Jally rooms are limited to 10 people to keep things fast, fun and natural.
        If a room reaches capacity, we’ll automatically create a new one for everyone who is yet to join.
      </div>
    </div>
  </div>

  <div class="mx-6 has-text-centered">
    <div class="medium-p">
      <div class="subtitle has-text-justified is-4">How much does Jally cost?</div>
      <div class="mb-4 has-text-justified">
        We’re in Beta, so nothing currently! When we launch officially we’ll offer Free,
        Team and Enterprise plans for our customers.
        Team and Enterprise plans will be charged on a per user per month basis.
      </div>
    </div>
  </div>

  <div class="mx-6 has-text-centered">
    <div class="medium-p">
      <div class="subtitle has-text-justified is-4">Do I need to download anything?</div>
      <div class="mb-4 has-text-justified">
        Nope, everything happens on our website... no apps or downloads required!
      </div>
    </div>
  </div>

  <div class="section-container bg-light-grey">
    <div class="has-text-centered mx-6 my-6">
      <div class="title" style="font-size: 25px">
        Improve your culture with Jally
      </div>
      <div class="mb-2">
        Get started for free, then add your whole team.
      </div>
      <%= render partial: 'landing/early_access' %>
    </div>
  </div>

  <footer class="footer-container bg-light-grey has-text-centered">
    <div class="footer-content-div bg-primary pb-3">
      <img src="<%= asset_pack_path('media/stylesheets/img/jally-logo-white.svg') %>" class="jally-logo-img">
      <div class="mb-2 is-hidden-mobile">Made with ❤️️ by team Jally</div>
      <div>Got questions or need help? Contact us - team@jally.co</div>
      <div>© 2020 Jally. All rights reserved.</div>
    </div>
  </footer>
</div>
