<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jally</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'home' %>
  <%= stylesheet_pack_tag 'home', media: 'all' %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('/favicon-16x16.png') %>">
</head>

<body>
  <div class="jally-content">
    <div class="columns is-multiline">
      <header class="column is-full jally-header">
        <div class="columns is-vcentered is-mobile">
          <div class="column is-narrow logo">
            <img src="<%= asset_pack_path('media/stylesheets/img/jally-logo-color.svg') %>" class="jally-logo-img" alt="logos">
          </div>
          <div class="column"></div>
          <%if user_signed_in? %>
            <div class="column is-narrow logout">
              <a href="/logout">
                <button class="button is-primary">
                  Logout
                </button>
              </a>

            </div>
          <% end %>
        </div>

      </header>
      <div class="column is-full lobby-container">
        <%= yield %>
      </div>
    </div>
  </div>
  <footer class="footer jally-footer">
    <p>
      Made with ❤️ by <a href="https://jally.co">Team Jally.</a>
    </p>
  </footer>
</body>
</html>
