<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:page_title) %>
      <%= yield(:page_title) %>
    <% else %>
      OrgBase | Org Charts & People Management
    <% end %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'landing' %>
  <%= stylesheet_pack_tag 'landing', media: 'all' %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon-16x16.png') %>">
  <% if content_for?(:extra_meta_tags) %>
    <%= yield(:extra_meta_tags) %>
  <% else %>
    <meta content="Easily make & publish beautiful org charts with rich team and individual profiles. Enable everyone in the company to better understand the teams and individuals that work there." name="description"/>
    <meta content="OrgBase" property="og:site_name"/>
<!--    <meta content="<%#= asset_path('apple-touch-icon.png') %>" property="og:image"/>-->
    <meta content="OrgBase | Organization Charts & People Management" property="og:title"/>
    <meta content="Org management with rich team charts and individual profiles" property="og:description"/>
    <meta content="summary" name="twitter:card"/>
    <meta content="@OrgBase" name="twitter:site"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:type" content="website" />
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600" rel="stylesheet">
</head>

<body <%= yield :body_tags %>>
  <% if alert %>
    <div class="alert alert-error" role="alert">
      <%= alert %>
    </div>
  <% end %>
  <% if notice %>
    <div class="alert alert-notice" role="alert">
      <%= notice %>
    </div>
  <% end %>
<%= yield %>
</body>
</html>
